global:
  scrape_interval: 15s
  scrape_timeout: 15s
  evaluation_interval: 15s
scrape_configs:
  - job_name: jmx-exporter
    honor_timestamps: true
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
          - kafka-0:9404
          - kafka-1:9404
          - kafka-2:9404