apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  namespace: kafka-cluster
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-ui
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      containers:
        - name: kafka-ui
          image: provectuslabs/kafka-ui:latest
          ports:
            - containerPort: 8080
          env:
            - name: DYNAMIC_CONFIG_ENABLED
              value: "true"
          volumeMounts:
            - name: kafka-ui-config
              mountPath: /etc/kafkaui
              readOnly: true
      volumes:
        - name: kafka-ui-config
          hostPath:
            path: ./kafka-ui/config.yml

---

apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
  namespace: kafka-cluster
spec:
  selector:
    app: kafka-ui
  ports:
    - port: 8080
      targetPort: 8080
