apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
  namespace: kafka-cluster
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
    spec:
      containers:
        - name: producer
          image: producer_img
          envFrom:
            - configMapRef:
                name: kafka-broker-config
          env:
            - name: MESSAGE_RATE
              value: "20"